img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

/* #wholePage {
    background-color: #F3E9F1;
} */
body {
    background-color: #F3E9F1!important;
}
.listItem {
    background-color: black;
}

#itemsList {
    display: flex;
    justify-content: center;
}


#basketList {
    display: flex;
    justify-content: center;
}

#customizeCamera {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.imageParams {
    height: 120px;
}

.form-group {
    max-width: 500px;
}

.quantityFields{
    max-width: 80px;
}

.quantityForms{
    display: flex;
    justify-content: center;
}